#root {
  margin: 0 auto;
  place-items: center;
  text-align: center;
  color: var(--primary-text);
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--dark-red-bg);
  color: var(--primary-text);
}
