@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-red: #3e000c;
  --darker-red: #2a0007;
  --secondary-red: #7c0a2a;
  --primary-text: white;
  --secondary-text: #ffbe32;
  --secondary-font: "Kaushan Script";
}

@layer utilities {
    .flex-between {
        @apply flex justify-between items-center
    }

    .flex-center {
      @apply flex justify-center items-center
    }

    .flex-inline-center {
        @apply inline-flex justify-center items-center
    }

    .search-form {
      @apply max-w-3xl w-full min-h-[50px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold  w-full h-auto outline-none;
    }

    .search-btn {
        @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
    }
    
    .white-card {
        @apply rounded-xl bg-white shadow-sm border border-gray-200 text-black;
    }
}
