@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-red: #3e000c;
  --darker-red: #2a0007;
  --secondary-red: #7c0a2a;
  --primary-text: white;
  --secondary-text: #ffbe32;
  --secondary-font: "Kaushan Script";
}
